:root{
    --nav-size: 1.2em;
    --logo-size: 1.8em;
    --font-size-larger: 2em;
    --fade-text: 0.7em;
    --font-size-smaller: 1.3em;
}
*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    text-decoration: none;
}


#sideicon{
    display: none;
    color: aliceblue;
}
nav{
    background-color: aliceblue;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
ul{
    display: flex;
}

li a{
    color: black !important;
}

li{
    
    text-decoration: none;
    list-style: none;
    padding: 20px;
    font-size: var(--nav-size);
}
li:hover a{
    color: #0040ff !important;
}
#logo{
    margin-top: auto;
    color: black;
    font-size: var(--logo-size);
}
.push{
    display: flex;
    margin-left: auto;   
    margin-top: 5px;
    flex-wrap: nowrap;
}


/* HOME section */
html{
    width: 100vw;
    height: 100vh;
}
body{
    width: 100vw;
    height: 100vh;
  
}
section{
    
    margin-top: 25em;
}
#home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
    
}
.main-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 81vw;
}
.main-content{
    font-size: var(--font-size-larger);
    flex-basis: 44rem;
    margin-top: 7em;
    flex-grow: 1;  
    
}
.profile-image{
    flex-basis: 40rem;
}
h1{
    font-size: var(--font-size-larger);
}
.fade-text{
    font-size: var(--fade-text);
    color: rgb(53, 52, 52);
}
.socialmedia{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;
    
}
i{
    font-size: 3em;
}

div>img{
    height: 100%;
    width: 100%;
}


/* STYLE BUTTON */
.btn{
    cursor: pointer;
    display: block;
    background-color: #4170f8;
    color: white;
    height: 4.8em;
    width: 14em;
    border: 0;
    border-radius: 8px;
    margin-top: 40px;
    padding: 5px;
}
.btn:hover{
    background-color: #2850ca;
}
.btn-text{
    font-size: 1.6em;
    margin-right: 10px;
}
.btn-icon{
    display: inline-block;
    font-size: 2em;
   
}
html{
    scroll-behavior: smooth;
}
.icons{
    color: #082270;
}
.icons:hover{
    color: #4170f8;
}
#scroll{
    margin-top: 5em;
    width: 8em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#scroll i{
    color: #072685;
    font-size: 1em;
}

.inc-size{
    font-size: 1.5em !important;
}
#scroll span{
    cursor: pointer;
    font-size: 25px;
   
}
span a{
    text-decoration: none;
    color: #2f4daf;
}
#scroll span a:hover{
    color: #0d0086;
}


/* ABOUT SECTION */
#about{
    margin-top: 20em;
  
}
.additions-about{
    margin: 30px auto;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

.about-image{
    box-shadow: 0 2rem 1.7rem rgba(0,0,0,.175)!important;
    flex-basis: 30rem;
    height: 30em;
    /* border: 1px solid black; */
}
.about-image img{
    border-radius: 8px;


}
.incbutton{
    width: 19em;
    height: 5em;
}
.content{
    padding: 12px;
    flex-basis: 43rem;
    flex-grow: 0.5;
    margin-bottom: 1.5em;
}
.content p{
    font-size: 1.2em;
    text-align: justify;
}
.center{
    text-align: center;
}






/* PROJECT SECTION */
.project-section{
    width: 92%;
    margin: 75px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 15px;
}
.projectholder{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}
/* .projectholder:hover{
    background-color: #072685;
} */
.project-img{
    margin-bottom: 3.2px;
    
    transition: all 1.4s ease-out;
}
.project-img:hover{
    transform: scale(1.1);
}
.project-img img{
    height: 250px;
    /* width: 400px; */
}
.project-content{
    margin-top: 15px;
    flex-basis: 14em;
}
.project-content p{
    text-align: justify;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.project-btn{
    display: block;
    margin: 35px auto;
    height: 3em;
    width: 18em;
    font-size: 1em;
    border: 0;
    border-radius: 13px;
    cursor: pointer;
    background-color: #4170f8;
}

.project-btn:hover{
    background-color: #2850ca;
}

.project-btn-text{
    color: white;
}


/* SKILLS SECTION */
.addition-skills{
    margin: 15px auto;
    width: 90vw;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding: 10px;
}
.skill-list{
    background-color: aliceblue;
    border-radius: 12px;
    flex-basis: 30em;
    height: 5em;
    margin: 5px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    transition: all 1s ease-out;
}
.skill-list:hover{
    transform: scale(1.2);
}
.skill-heading h1,h3{
    font-size: 15px;
}
.skill-heading h3{
    margin-top: 6px;
}
.skill-icon{
    display: block;
    margin-right: 2em;
}

.Mr{
    margin-right: 0.5em;
}
.Mr2{
    margin-right: 0.2em;
}


/* footer */
footer{
    margin-top: 25em;
    background-color: rgb(115, 115, 238);
}
.addition-footer{
    margin: 0 auto;
    flex-wrap: wrap !important;
}
#ishan{
    font-size: var(--logo-size);
    text-decoration: none;
    color: white;
}
.footer-titles li a{
    text-decoration: none;
    color: white !important;
}
.footer-titles li a:hover{
    color: rgb(7, 8, 8) !important;
}
#ishan:hover{
    color: #000000 !important;
}
#socialmedia-footer i
{
    color: white;
    margin-right: 12px;
    font-size: 2em;
}
#socialmedia-footer i:hover
{
    color: rgb(7, 8, 8);
}
footer h3{
    text-align: center;
    color: rgb(218, 212, 212);
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
    font-weight: 100;
 

}


@media screen and (max-width: 1698px) {
    .main-section{
        flex-wrap: wrap-reverse;
        width: 94%;
    }
    .addition-skills{
        flex-wrap: wrap !important;
    }
    .main-content{
        margin-top: 0;
    }
}



/* FOR MOBILE PHONES */
@media screen and (max-width: 1633px) {
    .socialmedia{
        flex-direction: row;
        width: 20em;
        margin-right: 0;
    }
}

@media screen and (max-width: 375px) {
   section{
       width: 24em;
   }
   footer{
       width: 25em;
   }
}

@media screen and (max-width: 580px){
    
    i{
        font-size: 2.4em;
    }
   #sideicon{
   display: block;
   }
   .push{
       display: none;
   }
    h1{
        font-size: 1.5em;
    }

    .addition-footer{
        flex-direction: column;
    }
    #footer-logo{
        margin-right: 30px !important;
        margin-top: 10px;
    }
    .footer-titles{
        flex-direction: column;
        margin-top: 35px;
        margin-bottom: 35px;
        margin-right: 35px;
        align-items: stretch;
    }
    #socialmedia-footer i{
        margin-right: 12px;
    }
}
