:root{
    --nav-size: 1.2em;
    --logo-size: 1.8em;
    --font-size-larger: 2em;
    --fade-text: 0.7em;
    --font-size-smaller: 1.3em;
}

*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
}
#sideicon{
    display: none;
}
nav{
    background-color: aliceblue;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 20px;
    font-size: var(--nav-size);
}
#logo{
    margin-top: auto;
    color: black;
    font-size: var(--logo-size);
}
.push{
    display: flex;
    margin-left: auto;   
    margin-top: 5px;
    flex-wrap: nowrap;
}

/* HOME section */

section{
    height: 100vh;
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
    
}
.main-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main-content{
    /* margin: 30px; */
    font-size: var(--font-size-larger);
    width: 40%;
    
}
h1{
    font-size: var(--font-size-larger);
}
.fade-text{
    font-size: var(--fade-text);
    color: rgb(53, 52, 52);
}
.socialmedia{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
i{
    font-size: 3em;
}
.profile-image{
 width: 45%;
}
div>img{

    height: 50%;
    width: 100%;

}


/* STYLE BUTTON */
.btn{
    display: block;
    background-color: azure;
    color: black;
    height: 5em;
    width: 13em;
    margin-top: 20px;
    padding: 5px;
}
.btn-text{
    font-size: 1.2em;
    margin-right: 5px;
}
.btn-icon{
    font-size: 2em;
}


/* ABOUT SECTION */
#about{
    margin-top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.additions-about{
    height: 75%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-image{
    width: 25%;
}
.about-image img{
    width: 100%;
    /* height: 25%; */
}
.content{
        width: 40%;
}
.content p{
    text-align: justify;
}
.center{
    text-align: center;
}

/* Changing Flex direction to column  */
 /* @media screen and (max-width: 1317px) {
    .main-section{
        flex-direction: column-reverse;
    }    
} */

/* FOR SMALL LAPTOP */

@media screen and (max-width: 1024px) {
    .main-section{
        flex-direction: column-reverse;
        height: 100%;
    } 
    .main-content{
        width: 60%;
    }
    #home{
        width: 100%;
        height: 100%;
    }
    .socialmedia{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 13px;
        width: 50%;
    }

    .about-image{
        width: 45%;
        /* height: 100%; */
    }
    .about-image img{
        height: 100%;
    }
    .content{
        width: 80%;
    }
}


/* FOR MOBILE LARGE AND TABLETS */

@media screen and (max-width: 623px) {
    li{
        font-size: var(--font-size-smaller);
    }
    i{
        font-size: 2em;
    }
}
/* FOR MOBILE PHONES */

@media screen and (max-width: 550px){
    .profile-image{
        width: 100%;
    }
    .main-section{
        height: 100%;
    }
    .main-content{
        width: 80%;
    }
    .content{
        width: 80%;
    }
    i{
        font-size: 2em;
    }
   #sideicon{
   display: block;
   }
   .push{
       display: none;
   }
    h1{
        font-size: 1.5em;
    }

}

@media screen and (max-width: 329px) {
    .main-section{
        height: 100%;
    }
}